<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_10_Sets.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Add Job Title to Set (1.10.1)

In [4]:
# Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('AI Specialist')
print(unique_job_titles)

{'AI Specialist', 'Data Scientist', 'Machine Learning Engineer', 'Data Analyst'}

---

## ðŸŸ© Remove Job Title from Set (1.10.2)

In [6]:
# Code Needed
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
print(unique_job_titles)

{'Data Scientist', 'Machine Learning Engineer'}

---

## ðŸŸ© Create Unique Job Locations Set (1.10.3)

In [8]:
# Code Needed
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
set(job_locations)

{'Austin', 'New York', 'San Francisco'}

---

## ðŸŸ¨ Union of Job Skills Sets (1.10.4)

In [23]:
# Code Needed
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
print(skills_set1.union(skills_set2))
print(skills_set1)
skills_set1.update(skills_set2)
print(skills_set1)

{'Machine Learning', 'Python', 'SQL', 'Tableau', 'R'}
{'Python', 'SQL', 'Tableau'}
{'Machine Learning', 'Python', 'SQL', 'Tableau', 'R'}

---