<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_16_Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Job Title Contains (1.16.1)

In [ ]:
# Code Needed
job_title = 'Data Scientist'
keyword = 'Data'
def job_title_contains(job_title,keyword):
    if keyword in job_title:
        return True
    else:
        return False
job_title_contains(job_title,keyword)

# Code Needed
# job_title = 'Data Scientist'
keyword = 'Data'
def job_title_contain(job_title,keyword):
    return keyword in job_title
job_title_contain(job_title,keyword)

True

---

## ðŸŸ© Average Salary (1.16.2)

In [ ]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]
def averge_salary(salaries):
    sum=0
    i=0
    for i in range(len(salaries)):
        sum+=salaries[i]
        i+=1
    return sum/len(salaries)    
averge_salary(salaries)

def averge_salary(salaries):
    return sum(salaries)/len(salaries)
averge_salary(salaries)

108000.0

---

## ðŸŸ¨ Salary Statistics (1.16.3)

In [26]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]
def salary_stat(salaries):
    return max(salaries),min(salaries),sum(salaries)/len(salaries)
salary_stat(salaries)

(130000, 90000, 108000.0)

---

## ðŸŸ¥ Job Posting Summary (1.16.4)

In [ ]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_posting_summary(job_postings):
    result={'total_postings':_,'average_salary':_,'unique_locations':_}
    result.update({'total_postings':len(job_postings)})
    result.update({'average_salary':sum(i['salary'] for i in job_postings)/3})
    result.update({'unique_locations':list(set(i['location'] for i in job_postings))})
    return result
job_posting_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333.33333333333,
 'unique_locations': ['New York', 'San Francisco']}

In [93]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_posting_summary(job_postings):
    return {
        'total_postings':len(job_postings),
        'average_salary':sum(i['salary'] for i in job_postings)/3,
        'unique_locations':list(set(i['location'] for i in job_postings))
    }
job_posting_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333.33333333333,
 'unique_locations': ['New York', 'San Francisco']}