<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_21_Classes.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create JobPosting Class (1.21.1)

In [2]:
# Create the JobPostings class in this code cell
# Problem Statement:
# Create a class named JobPosting with attributes title, company, and location.
# Create an instance of an object (called job) of this class with the title 'Data Scientist', company 'Tech Innovations', and location 'New York'.
# Print the attributes of the object.
class JobPosting:
    def __init__(self,title, company, location):
        self.title=title
        self.company =company
        self.location = location

In [7]:
# Code Needed
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')
print(job.title)
print(job.company)
print(job.location)

Data Scientist
Tech Innovations
New York

---

## ðŸŸ¨ Convert to Dictionary (1.21.2)

In [15]:
# Create the JobPostings class in this code cell
# Problem Statement:
# Create a class named JobPosting with a method to_dict that converts the job posting details to a dictionary.
# Instantiate an object (called job) of this class with the title 'Data Scientist', company 'Tech Innovations', location 'New York', and salary as 120000.
# Convert its details to a dictionary using the to_dict method.
# Print the dictionary.
class JobPosting:
    def __init__(self,title,company,location,salary):
        self.title=title
        self.company=company
        self.location=location
        self.salary=salary
    def to_dict(self):
        return {
            'title':self.title,
            'company':self.company,
            'location':self.location,
            'salary':self.salary
        }

In [16]:
# Code Needed
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job.to_dict()

{'title': 'Data Scientist',
 'company': 'Tech Innovations',
 'location': 'New York',
 'salary': 120000}

---

## ðŸŸ¥ Compare Job Salaries (1.21.3)

In [17]:
# Create the JobPostings class in this code cell
# Problem Statement:
# Create a class named JobPosting with a method compare_salary that compares the salary of two job postings and returns the title of the job with the higher salary.
# Instantiate two objects called job1 and job2 of this class and compare their salaries using the compare_salary method.
# The two objects are defined below in the code needed.
class JobPosting:
    def __init__(self,title,company,location,salary):
        self.title=title
        self.company=company
        self.location=location
        self.salary=salary
        
    def company_salary(self,other_job):
        if self.salary>other_job.salary:
            return self.title, self.salary
        else:
            return other_job.title , other_job.salary

In [ ]:
# Code Needed
job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 100000)
job1.company_salary(job2)

('Data Scientist', 120000)

---