<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_24_Pandas Inspection.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
# Pandas Inspection
# All future problems will refer to using the "DataFrame" which is the course dataset we loaded previously (e.g.,'lukebarousse/data_jobs').
!pip install -U datasets
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

Requirement already satisfied: datasets in /opt/anaconda3/lib/python3.12/site-packages (3.6.0)
Requirement already satisfied: filelock in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (3.13.1)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=15.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (16.1.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (4.66.5)
Requirement already satisfied: xxhash in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2025.3.0,>=2023.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2024.6.1)
Requirement already satisfied: huggingface-hub>=0.24.0 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (0.32.4)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /opt/anaconda3/lib/python3.12/site-packages (from datasets) (6.0.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/anaconda3/lib/python3.12/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.10.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/anaconda3/lib/python3.12/site-packages (from huggingface-hub>=0.24.0->datasets) (4.13.2)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /opt/anaconda3/lib/python3.12/site-packages (from huggingface-hub>=0.24.0->datasets) (1.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.32.2->datasets) (2025.4.26)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->datasets) (2023.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.11.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)

---

## üü© Access Third Row (1.24.1)

In [41]:
# Problem Statement:
# Access the third row of the DataFrame using its index and display it.
df.iloc[2]

job_title_short                                              Data Engineer
job_title                Data Engineer/Scientist/Analyst, Mid or Senior...
job_location                                               Berlin, Germany
job_via                                                       via LinkedIn
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                    Germany
job_posted_date                                        2023-10-10 13:14:55
job_no_degree_mention                                                False
job_health_insurance                                                 False
job_country                                                        Germany
salary_rate                                                           None
salary_year_avg                                                        NaN
salary_hour_avg                                                        NaN
company_name                                      ALPHA Augmented Services
job_skills               ['python', 'sql', 'c#', 'azure', 'airflow', 'd...
job_type_skills          {'analyst_tools': ['dax'], 'cloud': ['azure'],...
Name: 2, dtype: object

---

## üü® Unique Job Countries (1.24.2)

In [40]:
# Problem Statement:
# Display the unique values in the job_country column.
df.job_country.unique()

array(['United States', 'Mexico', 'Germany', 'Sudan', 'Romania',
       'Denmark', 'Switzerland', 'France', 'Brazil', 'United Kingdom',
       'India', 'Poland', 'Belgium', 'Russia', 'Serbia', 'Singapore',
       'Costa Rica', 'Ireland', 'Italy', 'Malaysia', 'Canada', 'Uruguay',
       'Namibia', 'Estonia', 'Israel', 'Hungary', 'Austria',
       'Philippines', 'Egypt', 'Australia', 'Chile', 'Spain',
       'Netherlands', 'South Africa', 'Colombia', 'Hong Kong', 'Kuwait',
       'Finland', 'Luxembourg', 'China', 'Puerto Rico', 'Sweden',
       'Saudi Arabia', 'Argentina', 'Turkey', 'Panama', 'Nigeria',
       'New Zealand', 'Ukraine', 'Jordan', 'United Arab Emirates',
       'Armenia', 'Pakistan', 'Lesotho', 'Mauritius', 'Portugal',
       'Bahrain', 'Taiwan', "C√¥te d'Ivoire", 'U.S. Virgin Islands',
       'R√©union', 'Kazakhstan', 'Lithuania', 'Moldova', 'Belarus',
       'Cyprus', 'Bulgaria', 'Honduras', 'Czechia', 'Peru', 'South Korea',
       'Malta', 'Indonesia', 'Tunisia', 'Latvia', 'Slovakia', 'Lebanon',
       'Japan', 'Sri Lanka', 'Slovenia', 'Bangladesh', 'Greece',
       'Ecuador', 'Oman', 'Kenya', 'Guyana', 'Vietnam', 'Norway',
       'Senegal', 'El Salvador', 'Iceland', 'Thailand', 'Ghana',
       'Croatia', 'Myanmar', 'Nepal', 'Morocco', 'Guadeloupe', 'Iraq',
       'Palestine', 'Guinea', 'Albania', 'Guatemala', 'Qatar', 'Uganda',
       'Bolivia', None, 'Dominican Republic', 'Ethiopia', 'Haiti',
       'Uzbekistan', 'Bahamas', 'Liberia', 'Montenegro', 'Cayman Islands',
       'Mongolia', 'Macedonia (FYROM)', 'Azerbaijan', 'Burkina Faso',
       'Guam', 'Trinidad and Tobago', 'Benin', 'Kyrgyzstan',
       'Bosnia and Herzegovina', 'Zambia', 'Cameroon', 'Venezuela',
       'Barbados', 'Togo', 'Rwanda', 'Cambodia', 'Algeria', 'Afghanistan',
       'Congo, Democratic Republic of the', 'Zimbabwe', 'Jamaica',
       'Suriname', 'Mozambique', 'Yemen', 'Tanzania', 'Madagascar',
       'Mali', 'Paraguay', 'Brunei', 'Malawi', 'Nicaragua', 'Libya',
       'Tajikistan', 'Mauritania', 'Botswana', 'Fiji',
       'Northern Mariana Islands', 'Angola', 'Somalia',
       'Papua New Guinea', 'Gambia', 'Djibouti', 'Laos', 'Cura√ßao',
       'Maldives', 'Bhutan'], dtype=object)

---

## üü® Filter by Job Schedule Type and Display (1.24.3)

In [22]:
# Problem Statement:
# Display the first 3 rows of the DataFrame where the job_schedule_type is 'Full-time'.
df[df.job_schedule_type == 'Full-time'].head(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee M√©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."

---

## üü• Check Missing Values (1.24.4)

In [39]:
# Problem Statement:
# Check for missing values in the job_skills column and display the rows where the values are not NA.
df[df.job_skills.notna()]

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee M√©xico,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

---

In [27]:
import requests
from bs4 import BeautifulSoup
import re
from typing import List, Dict
import csv
from time import sleep

def scrape_google_scholar_profile(profile_url: str, max_pages: int = None) -> List[Dict]:
    """
    Áà¨ÂèñGoogle Scholar‰∏™‰∫∫‰∏ªÈ°µÁöÑÊñáÁ´†‰ø°ÊÅØ
    
    ÂèÇÊï∞:
        profile_url: Google Scholar‰∏™‰∫∫‰∏ªÈ°µURL
        max_pages: ÊúÄÂ§ßÁà¨ÂèñÈ°µÊï∞(ÂèØÈÄâ)
    
    ËøîÂõû:
        ÂåÖÂê´ÊñáÁ´†‰ø°ÊÅØÁöÑÂ≠óÂÖ∏ÂàóË°®
    """
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }
    
    articles = []
    page_num = 1
    while True:
        # ÊûÑÈÄ†ÂàÜÈ°µURL
        if "?user=" in profile_url and "&" not in profile_url:
            page_url = f"{profile_url}&page={page_num}"
        else:
            page_url = f"{profile_url}?page={page_num}"
        
        try:
            response = requests.get(page_url, headers=headers)
            response.raise_for_status()
        except requests.exceptions.RequestException as e:
            print(f"ËØ∑Ê±ÇÂ§±Ë¥•: {e}")
            break
        
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Ê£ÄÊü•ÊòØÂê¶Âà∞ËææÊúÄÂêé‰∏ÄÈ°µ
        if "There are no articles in this profile." in response.text:
            break
        
        # ÊèêÂèñÊñáÁ´†Êù°ÁõÆ
        entries = soup.find_all('tr', class_='gsc_a_tr')
        if not entries:
            break
            
        for entry in entries:
            article = {}
            
            # ÊñáÁ´†Ê†áÈ¢ò
            title_elem = entry.find('a', class_='gsc_a_at')
            article['title'] = title_elem.text if title_elem else "N/A"
            
            # ‰ΩúËÄÖÂíåÊúüÂàä‰ø°ÊÅØ
            authors_journal_elem = entry.find('div', class_='gs_gray')
            article['authors_journal'] = authors_journal_elem.text if authors_journal_elem else "N/A"
            
            # ÂàÜÁ¶ªÊúüÂàäÂêçÁß∞ÂíåÂπ¥‰ªΩ
            journal_year = ""
            journal_elem = entry.find_all('div', class_='gs_gray')[-1]
            if journal_elem:
                journal_year = journal_elem.text
            
            # Â∞ùËØï‰ªéjournal_year‰∏≠ÊèêÂèñÊúüÂàäÂíåÂπ¥‰ªΩ
            journal_parts = journal_year.split(',')
            if len(journal_parts) >= 2:
                article['journal'] = journal_parts[0].strip()
                article['year'] = journal_parts[-1].strip()
            else:
                article['journal'] = journal_year.strip()
                article['year'] = "N/A"
            
            # Ë¢´ÂºïÊ¨°Êï∞
            citations_elem = entry.find('a', class_='gsc_a_ac')
            if citations_elem and citations_elem.text.strip():
                article['citations'] = int(citations_elem.text.strip())
            else:
                article['citations'] = 0
            
            articles.append(article)
        
        print(f"Â∑≤Â§ÑÁêÜÁ¨¨ {page_num} È°µÔºåÊâæÂà∞ {len(articles)} ÁØáÊñáÁ´†")
        
        # Ê£ÄÊü•ÊòØÂê¶ËøòÊúâ‰∏ã‰∏ÄÈ°µ
        next_button = soup.find('button', id='gsc_bpf_next')
        if not next_button or 'disabled' in next_button.attrs:
            break
        
        # Ê£ÄÊü•ÊòØÂê¶ËææÂà∞ÊúÄÂ§ßÈ°µÊï∞ÈôêÂà∂
        if max_pages and page_num >= max_pages:
            break
            
        page_num += 1
        sleep(2)  # Á§ºË≤åÊÄßÂª∂ËøüÔºåÈÅøÂÖçË¢´Â∞Å
    
    return articles

def save_to_csv(articles: List[Dict], filename: str = 'google_scholar_articles.csv'):
    """
    Â∞ÜÊñáÁ´†‰ø°ÊÅØ‰øùÂ≠òÂà∞CSVÊñá‰ª∂
    
    ÂèÇÊï∞:
        articles: ÊñáÁ´†‰ø°ÊÅØÂàóË°®
        filename: ËæìÂá∫Êñá‰ª∂Âêç
    """
    if not articles:
        print("Ê≤°ÊúâÊñáÁ´†Êï∞ÊçÆÂèØ‰øùÂ≠ò")
        return
    
    keys = articles[0].keys()
    
    with open(filename, 'w', newline='', encoding='utf-8-sig') as output_file:
        dict_writer = csv.DictWriter(output_file, fieldnames=keys)
        dict_writer.writeheader()
        dict_writer.writerows(articles)
    
    print(f"Êï∞ÊçÆÂ∑≤‰øùÂ≠òÂà∞ {filename}")

if __name__ == "__main__":
    # ‰ΩøÁî®Á§∫‰æã
    profile_url = input("ËØ∑ËæìÂÖ•Google Scholar‰∏™‰∫∫‰∏ªÈ°µURL: ")
    max_pages = input("ËØ∑ËæìÂÖ•ÊúÄÂ§ßÁà¨ÂèñÈ°µÊï∞(ÁïôÁ©∫ÂàôÁà¨ÂèñÊâÄÊúâ): ")
    
    try:
        max_pages = int(max_pages) if max_pages else None
    except ValueError:
        print("ËæìÂÖ•ÁöÑ‰∏çÊòØÊúâÊïàÊï∞Â≠óÔºåÂ∞ÜÁà¨ÂèñÊâÄÊúâÈ°µÈù¢")
        max_pages = None
    
    articles = scrape_google_scholar_profile(profile_url, max_pages)
    
    if articles:
        save_to_csv(articles)
        print("\nÂâç5ÁØáÊñáÁ´†‰ø°ÊÅØÈ¢ÑËßà:")
        for i, article in enumerate(articles[:5]):
            print(f"\nÊñáÁ´† {i+1}:")
            print(f"Ê†áÈ¢ò: {article['title']}")
            print(f"ÊúüÂàä: {article['journal']}")
            print(f"Âπ¥‰ªΩ: {article['year']}")
            print(f"Ë¢´ÂºïÊ¨°Êï∞: {article['citations']}")
    else:
        print("Ê≤°ÊúâÊâæÂà∞ÊñáÁ´†‰ø°ÊÅØ")

Â∑≤Â§ÑÁêÜÁ¨¨ 1 È°µÔºåÊâæÂà∞ 20 ÁØáÊñáÁ´†
Êï∞ÊçÆÂ∑≤‰øùÂ≠òÂà∞ google_scholar_articles.csv

Ââç5ÁØáÊñáÁ´†‰ø°ÊÅØÈ¢ÑËßà:

ÊñáÁ´† 1:
Ê†áÈ¢ò: Ultrafast dynamics of excitons in tetracene single crystals
ÊúüÂàä: The Journal of Chemical Physics 140 (11)
Âπ¥‰ªΩ: 2014
Ë¢´ÂºïÊ¨°Êï∞: 59

ÊñáÁ´† 2:
Ê†áÈ¢ò: Application of Raman spectroscopy in type 2 diabetes screening in blood using leucine and isoleucine amino-acids as biomarkers and in comparative anti-diabetic drugs efficacy¬†‚Ä¶
ÊúüÂàä: PLoS One 12 (9)
Âπ¥‰ªΩ: 2017
Ë¢´ÂºïÊ¨°Êï∞: 49

ÊñáÁ´† 3:
Ê†áÈ¢ò: Ultrasensitive detection of plant hormone abscisic acid-based surface-enhanced Raman spectroscopy aptamer sensor
ÊúüÂàä: Analytical and Bioanalytical Chemistry 414 (8)
Âπ¥‰ªΩ: 2022
Ë¢´ÂºïÊ¨°Êï∞: 27

ÊñáÁ´† 4:
Ê†áÈ¢ò: A multi-channel localized surface plasmon resonance system for absorptiometric determination of abscisic acid by using gold nanoparticles functionalized with a polyadenine¬†‚Ä¶
ÊúüÂàä: Microchimica Acta 187
Âπ¥‰ªΩ: 2020
Ë¢´ÂºïÊ¨°Êï∞: 24

ÊñáÁ´† 5:
Ê†áÈ¢ò: Effect of crusting operations on the physical properties of leather
ÊúüÂàä:
Âπ¥‰ªΩ: N/A
Ë¢´ÂºïÊ¨°Êï∞: 22