<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_02_Pandas Data Cleaning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [12]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## ðŸŸ© Remove Rows with Missing Values (2.2.1)

In [ ]:
Problem Statement:
Remove rows where the salary_year_avg column has missing values. Display the number of rows before and after removing.

In [10]:
before=len(df)
df.dropna(subset='salary_year_avg',inplace=True)
after=len(df)
print(before,after)

785741 22003

---

## ðŸŸ¨ Remove Duplicate Rows (2.2.2)

In [ ]:
# Problem Statement:
# Remove duplicate rows from the DataFrame based on the job_location column. Display the number of rows before and after removing duplicates.

In [13]:
before=len(df) 
df.drop_duplicates(subset='job_location',inplace=True)
after=len(df)
print(before,after)

785741 17218

In [14]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

rows_before = df.shape[0]
df_unique = df.drop_duplicates(subset=['job_location'])
rows_after = df_unique.shape[0]
rows_before, rows_after

(785741, 17218)

---

## ðŸŸ¨ Fill Missing Values in Column (2.2.3)

In [ ]:
# Problem Statement:
# Fill missing values in the salary_rate column with the string 'Unknown'. Display the first 10 rows of the salary_rate column before and after filling.

In [30]:
print(df.salary_rate.head(10),df.salary_rate.fillna('Unknown').head(10))

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: salary_rate, dtype: object 0    Unknown
1    Unknown
2    Unknown
3    Unknown
4    Unknown
5    Unknown
6    Unknown
7    Unknown
8    Unknown
9    Unknown
Name: salary_rate, dtype: object

---